.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
  transition: opacity 2s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-off{
  opacity: 0;
}

.Fader{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  z-index: 999;
}

.background{
  background-color: #a06cd5;
  width: 100%;
  height: 100vh;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes animate {
  0% {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0) rotate(0deg);
  }
  100%{
    opacity: 0;
    border-radius: 100%;
    transform: translateY(-1000px) rotate(720deg);
  }
}

.circles div{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  bottom: -150px;
  animation: animate 25s linear infinite;
}

.circles div:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 20s;
  animation-duration: 9s;
}

.circles div:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-duration: 27s;
}

.circles div:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
  animation-duration: 23s;
}

.circles div:nth-child(4){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 21s;
}

.circles div:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 3s;
  animation-duration: 17s;
}

.circles div:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 5s;
  animation-duration: 15s;
}

.circles div:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  animation-duration: 13s;
}

.circles div:nth-child(8){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 11s;
  animation-duration: 12s;
}

.circles div:nth-child(9){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 13s;
  animation-duration: 11s;
}

.circles div:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 17s;
  animation-duration: 10s;
}
